<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Model" value="models/haarcascade_frontalface_alt.xml"/>
    <add key="FrameInterval" value="20" />
    <add key="ScaleFactor" value="1.2" />
    <add key="MinNeighbours" value="5" />
    <add key="ProcessingScale" value="0.25" />
    <add key="MinFaceSize" value="150" />
  </appSettings>
</configuration>