<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Model" value="models/haarcascade_frontalface_alt.xml"/>
    <add key="FrameRate" value="25" />
    <add key="ScaleFactor" value="1.03" />
    <add key="MinNeighbours" value="3" />
    <add key="MinFaceSize" value="150" />
  </appSettings>
</configuration>